In [1]:
#range
for temp in range(6):   #will run through 6 times
  print("Learning Loops!")

Learning Loops!
Learning Loops!
Learning Loops!
Learning Loops!
Learning Loops!
Learning Loops!

In [2]:
for i in range(3):
  print(5)

5
5
5

In [3]:
for i in range(3):      #i is a variable nanme, it won't be printed
  print(i)

0
1
2

1.
Use the range() function in a for loop to print() out the provided promise variable five times.

In [4]:
promise = "I will finish the python loops module!"
for promise in range(5):
  print("I will finish the python loops module!")

I will finish the python loops module!
I will finish the python loops module!
I will finish the python loops module!
I will finish the python loops module!
I will finish the python loops module!

In [5]:
for promise in range(5):   #promise is among 0-4, it will run figures
    print(promise)

0
1
2
3
4

In [6]:
#While loop
count = 0                  #count is initially defined as 0
while count <= 3:          #conditional statement:count<=3
  # Loop Body
  print(count)
  count += 1               #inside the loop body, the count is increased
#conditional statement will stop when the count is 4

0
1
2
3

In [7]:
i = 1
while i <= 10:
    print(i)
    i += 1         #Notice Indentation

1
2
3
4
5
6
7
8
9
10

In [8]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index,letter)
    index+=1

0 b
1 a
2 n
3 a
4 n
5 a

In [9]:
#while loop
ingredients = ["milk", "sugar", "vanilla extract", "dough", "chocolate"]
length = len(ingredients)             #length will be 5 in this case
index = 0                             #index starts at 0
 
while index < length: 
#On the first iteration, we will be comparing the equivalent of 0 < 5 which will evaluate to True, and start the execution of our loop body.

  print(ingredients[index])
#the first iteration will print ingredients[0]
  index += 1
#increment index to access the next element in ingredients
#each interation gets closer to making the conditional no longer true

milk
sugar
vanilla extract
dough
chocolate

In [10]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [11]:
numbers = [2, 4, 6, 8]
for number in numbers:
  print("hello!")

hello!
hello!
hello!
hello!

In [12]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count+=1
print(count)

3

# Indefinite loop

In [ ]:
my_favorite_numbers = [4, 8, 15, 16, 42]
 
for number in my_favorite_numbers:
  my_favorite_numbers.append(1)
# Every time we enter the loop, we add a 1 to the end of the list that we are iterating through. As a result, we never make it to the end of the list.

In [ ]:
#search for the value
tems_on_sale = ["blue shirt", "striped socks", "knit dress", "red headband", "dinosaur onesie"]
for item in items_on_sale:
    if item == "knit dress":
print("Found it")
#the loop will keep running as there is no 'knit dress'.

# Break loop

In [13]:
items_on_sale = ["blue shirt", "striped socks", "knit dress", "red headband", "dinosaur onesie"]
 
print("Checking the sale list!")
 
for item in items_on_sale:
    print(item)
    if item == "knit dress":break       #terminates the loop, so the rest of list didn't show
 
print("End of search!")

Checking the sale list!
blue shirt
striped socks
knit dress
End of search!

In [14]:
dog_breeds_available_for_adoption = ["french_bulldog", "dalmatian", "shihtzu", "poodle", "collie"]
dog_breed_I_want = "dalmatian"

for dog_breed in dog_breeds_available_for_adoption:    #loop list
  print(dog_breed)
  if dog_breed == dog_breed_I_want:
    print("They have the dog I want!")
    break

french_bulldog
dalmatian
They have the dog I want!

In [15]:
numbers = [1, 1, 2, 3]
for number in numbers:
  if number % 2 == 0:       #loop stops when 2 is reached;exclude 2
    break
  print(number)

1
1

# Continue loop

Skip the current iteration of the loop

In [16]:
#Find the positive integer:
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]

for i in big_number_list:
  if i <= 0:
    continue
  print(i)          #Find the i that meets requirements

1
2
4
5
2

# Nested loops

In [17]:
#Print each student in the list
project_teams = [["Ava", "Samantha", "James"], ["Lucille", "Zed"], ["Edgar", "Gabriel"]]
# Loop through each sublist
for team in project_teams:
  # Loop elements in each sublist
  for student in team:
    print(student)

Ava
Samantha
James
Lucille
Zed
Edgar
Gabriel

In [18]:
sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]      #Three locations

#Need to Sum up the total amount of scoops_sold
scoops_sold = 0  

#Define and set scoops_sold to 0
for location in sales_data:
#Loop through the sales_data
    print(location)
    for element in location:
#Loop through sublist of location
      scoops_sold = element +scoops_sold
print(scoops_sold)

[12, 17, 22]
[2, 10, 3]
[5, 12, 13]
96

# List Comprehension

To start, let’s say we had a list of integers and wanted to create a list where each element is doubled. We could accomplish this using a for loop and a new list called doubled:

In [19]:
numbers = [2, -1, 79, 33, -45]
doubled = []
 
for number in numbers:
  doubled.append(number * 2)
 
print(doubled)

[4, -2, 158, 66, -90]

In [20]:
numbers = [2, -1, 79, 33, -45]
doubled = [num * 2 for num in numbers]
#new_list = [<expression> for <element> in <collection>]
print(doubled)

[4, -2, 158, 66, -90]

Suppose we wanted to double only our negative numbers from our previous numbers list.

In [21]:
numbers = [2, -1, 79, 33, -45]
only_negative_doubled = []
 
for num in numbers:
  if num < 0: 
    only_negative_doubled.append(num * 2)
 
print(only_negative_doubled)

[-2, -90]

In [22]:
numbers = [2, -1, 79, 33, -45]
negative_doubled = [num * 2 for num in numbers if num < 0]    #Condition is put in the end
print(negative_doubled)

[-2, -90]

In [23]:
numbers = [2, -1, 79, 33, -45]
doubled = [num * 2 if num < 0 else num * 3 for num in numbers ]
print(doubled)

[6, -2, 237, 99, -90]

In [24]:
a = [i-1 for i in range(5)]    #0-4
print(a)

[-1, 0, 1, 2, 3]

# Slicing Strings

In [25]:
s = 'Monty Python'
print(s[:])

Monty Python

In [26]:
s = 'Monty Python'
print(s[1:6])

onty

In [27]:
s = 'Monty Python'
print(s[:6])

Monty

In [28]:
s = 'Monty Python'
print(s[2:])

nty Python

In [29]:
fruit = 'banana'
nz = fruit.find('nz')     #if the substring is not found, found()returns -1.
print(nz)

-1

In [30]:
a = 'hello bob'
b = a.replace('bob','Jane')
print(b)

hello Jane

In [31]:
a = 'hello bob'
b = a.replace('l', 'i')
print(b)

heiio bob

# Remove Whitespace

In [32]:
a = 'hello bob '
b = a.rstrip()   #remove whitespace on the right side
print(b)

hello bob

In [33]:
a = ' hello bob '
b = a. strip()   #remove whitespace on both sides
print(b)

hello bob

In [34]:
type(len('banana'))

int

In [35]:
print(len('banana')*7)

42

In [36]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('.')    #. is position here
print(pos)

12

In [37]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('e')    #e is position here
print(pos)

7

In [38]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('.')
print(data[pos:pos+3])

.ma

In [39]:
text = "X-DSPAM-Confidence:    0.8475"
a = text.find('0.8475')
print(a)

23

In [40]:
print(text[23:])

0.8475

# Read Through Files

In [ ]:
fname = input('Enter the file name : ') # file name is mbox-short.txt
try:
    fopen = open(fname,'r') # open the file to read through it
except:
    print('Wrong file name') #if user input wrong file name display 'Wrong file name'
    quit()
count = 0  # variable for number of 'X-DSPAM-Confidence:' lines
total = 0  # variable for the sum of the floating numbers

for line in fopen: # start the loop to go through file line by line
    if line.startswith('X-DSPAM-Confidence:'): # check whether a line starts with 'X-DSPAM-Confidence:'
        count = count + 1 # counting total no of lines starts with 'X-DSPAM-Confidence:'
        strip = line.strip() # remove whitespace between selected lines
        nline = strip.find(':') #find out where is ':' in selected line
        wstring = strip[nline+2:] # extract the string decimal value
        fstring = float(wstring) # convert decimal value to float
        total = total + fstring  # add the whole float values and put sum in to variable named 'total'
print('Average spam confidence:',total/count) # printout the average value

In [41]:
friends = ['A','B','C']
for i in range(len(friends)):
    friend = friends[i]
print('Happy New Year: ', friend)

Happy New Year:  C

list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.

In [ ]:
fname = raw_input("Enter file name: ")
fh = open(fname)
lst = list()                       # list for the desired output
for line in fh:                    # to read every line of file romeo.txt
    word= line.rstrip().split()    # to eliminate the unwanted blanks and turn the line into a list of words
    for element in word:           # check every element in word    
        if element in lst:         # if element is in the list
            continue               # do nothing
        else :                     # else if element is not in the list
            lst.append(element)    # append     
lst.sort()                         # sort the list (de-indent indicates that you sort when the loop ends)
print(lst)                         # print the list

# Projects - Carly's Clippers

In [55]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
#name of the cuts offered by Carly's

prices = [30, 25, 40, 20, 20, 35, 50, 35]
#Price of each hairstyles

last_week = [2, 3, 5, 8, 4, 4, 6, 2]
#the number of purchases for each hairstyle type in the last week

total_price = 0
for price in prices:
    total_price += price
print(total_price)
#Calucute the total price

average_price = total_price/len(prices)
print(average_price)
#Calculate the average price

new_prices = [price-5 for price in prices]
print('New prices are:' + str(new_prices))
#new_price is reduced by 5

total_revenue = 0
for i in range(len(hairstyles)):
  total_revenue += prices[i]*last_week[i]
print('Total revenue:'+ str(total_revenue))
#Calculate the new revenue

average_daily_revenue = total_revenue/7
print(f'Total average revenue: ${average_daily_revenue}')

cuts_under_30 = [hairstyles[i]for i in range(len(hairstyles))if new_prices[i] < 30]
#Find hairstyles of new_prices are less than 30
print(cuts_under_30)

255
31.875
New prices are:[25, 20, 35, 15, 15, 30, 45, 30]
Total revenue:1085
Total average revenue: $155.0
['bouffant', 'pixie', 'crew', 'bowl']